

body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border: 2px solid black;
}

h1,h2 {
    color: rebeccapurple;

}

h1{

}

p span{
    background-color: gold;
    font-style: italic;
    text-transform: uppercase;
}

p{
    color: red;
    font-family:'Times New Roman', Times, serif;
}

main{
    font-family: monospace;
    color: aquamarine;
}